.payment-form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, #sq-card {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

#pay-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 0; /* Remove margin to center horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Set a maximum width for better responsiveness */
    position: absolute; /* Position absolutely */
    top: 50%; /* Position at the center vertically */
    left: 50%; /* Position at the center horizontally */
    transform: translate(-50%, -50%); /* Adjust positioning */
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product-details h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-details p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #555;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
}
#shipping-payment-form {
    line-height: .5; /* Adjust line height to reduce spacing */
}
}